.done{
    color: gray;
    text-decoration: line-through;
}

#shopping-list{
    background-color: #f9f0e5;
    width: 25%;
    margin: 10% auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 1%;
}

#shopping-list:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

body{
    background-image: url('../pictures/aaa.jpg');
    background-size: 100%;
}

h1{
    background: #49302A;
    text-transform: uppercase;
    color: white;
    font-family: 'Lato', sans-serif;
    text-align: left;
    margin: 2% 0%;
    padding: 0% 2%;
}

ul{
    list-style: none;
    padding-left: 0%;
    margin: 0%;
}

li{
    border-bottom:white 2px solid;
    color: #49302A;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
}

input{
    font-size: 18px;
    color: #49302A;
    width: 100%;
    box-sizing: border-box;
    margin: 2% 0%;
    padding: 2%;
    background-color: #f9f0e5;
    border: solid #443a38 1px;
}

input:focus{
    background-color: white;
    outline-color: #49302A;
}

li span{
    float: right;
    background-color: #49302A;
    color: #f9f0e5;
    opacity: 0;
    text-align: center;
    transition: 0.3s;
}

li:hover span{
    width: 40px;
    opacity: 1;
}

h1 span {
    color: white;
    float: right;
}